.btn-primary{
    background: $green;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    font-family: 'Muli';
    font-weight: 600;
    outline: none;
    box-shadow: none;
    &:hover{
       background: $green; 
    }
    &:active{
       background: $green!important; 
    }
    &:focus{
       box-shadow: none!important;
    }        
}