header{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    padding-top: 50px;
    padding-bottom: 20px;
    z-index: 2;
}
.menu{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
        list-style: none;
        padding: 0 26px;
        a{
            font-style: 16px;
            font-weight: 700;
            color:$blue;
            text-decoration: none;
        }
        &.active{
            a{
                border-bottom: 2px solid $blue;
            }
        }
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}

@include respond(m-screen){
    header{
        .menu{
            li{
                padding: 0 10px;
            }
        }
    }
}

@include respond(s-screen){
    header{
        background: $white;
        padding: 15px 0;
        @include box_shadow(1);
        .menu-wrapper{
            display: none;
            .menu{
                justify-content: space-between;
                margin-top: 20px;
            }
        }
    }
}

@include respond(es-screen){
    header{
        z-index: 3;
        .menu-wrapper{
            .menu{
                flex-direction: column;
                li{
                    padding: 5px 0;
                }
            }
        }
    }
}