.owl-carousel {
  &.testimonials_slider {
    direction: ltr;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    .owl-item {
      .item {
        .testimonials_text {
          img{
            width: 32px;
            height: 26px;
            display: inline-block;
            margin-bottom: 30px;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: $green;
          }
        }
        .name {
          font-size: 14px;
          font-weight: 400;
          color: $green;
        }
      }
    }
    .owl-nav{
      button{
        font-size: 0;
        margin:0 5px;
        outline: none;
        transition: opacity 0.2s;
        z-index: 3;
        svg{
          use{
            fill:$white;
          }
        }
        &.owl-prev{
          transform: rotateY(-180deg);
        }
        &:hover{
          opacity: 0.6;
        }
      }
    }
  }
  &.project_slider {
    direction: ltr;
    width: auto;
    margin-right: -15px;
    .owl-stage {
      left: -50px;
    }
    .owl-nav{
      text-align: center;
      margin-top: 30px;
      button{
        font-size: 0;
        margin:0 5px;
        outline: none;
        transition: opacity 0.2s;
        z-index: 3;
        svg{
          use{
            fill:$green;
          }
        }
        &.owl-prev{
          transform: rotateY(-180deg);
        }
        &:hover{
          opacity: 0.6;
        }
      }
    }
    .project_slide {
      position: relative;
      padding: 18px;
      background: url("../img/bg_slide.svg") no-repeat center;
      background-size: contain;
      border-radius: 55px;
      overflow: hidden;
      img {
        position: relative;
        border-radius: 38px;
      }
    }
    .project_item-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
      .project_item {
        max-width: 80px;
        text-align: center;
        margin: 0 20px;
        .icon {
          width: 74px;
          height: 74px;
          margin: 0 auto;
        }
        span {
          display: inline-block;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          margin-top: 15px;
        }
      }
    }
  }
  &.project_sample_mobile_slider {
    max-width: 1540px;
    margin:0 auto;
    padding:0 1.5rem;
    .owl-nav{
      text-align: center;
      margin-top: 30px;
      button{
        font-size: 0;
        margin:0 5px;
        outline: none;
        transition: opacity 0.2s;
        z-index: 3;
        svg{
          use{
            fill:$green;
          }
        }
        &.owl-prev{
          transform: rotateY(-180deg);
        }
        &:hover{
          opacity: 0.6;
        }
      }
    }
    .project_sample_slide {
      position: relative;
      padding: 18px;
      background: url("../img/bg_slide.svg") no-repeat center;
      background-size: cover;
      border-radius: 55px;
      overflow: hidden;
      img {
        position: relative;
        border-radius: 38px;
      }
    }
  }   
  &.project_sample_desktop_slider {
    margin-top: 90px;
    .owl-stage{
      padding: 50px 0;
    }
    .owl-item{
      transition: 0.3s;
      &.active{
        transform: scale(1.1);
        z-index: 1;
      }
    }
    .owl-nav{
      text-align: center;
      margin-top: 30px;
      button{
        font-size: 0;
        margin:0 5px;
        outline: none;
        transition: opacity 0.2s;
        z-index: 3;
        svg{
          use{
            fill:$green;
          }
        }
        &.owl-prev{
          transform: rotateY(-180deg);
        }
        &:hover{
          opacity: 0.6;
        }
      }
    }
    .project_sample_slide {
      position: relative;
      padding: 18px;
      background: url("../img/bg_slide.svg") no-repeat center;
      background-size: contain;
      border-radius: 55px;
      overflow: hidden;
      img {
        position: relative;
        border-radius: 38px;
      }
    }
  }
  &.services_slider{
    .item{
      overflow: hidden;
      .text{
        // max-width: 1345px;
        border-radius: 50px;
        background: $white;
        padding: 40px 300px 40px 90px;
      }
      .collage{
        width: max-content;
        padding-left: 90px;
      }
    }
    .owl-nav{
      max-width: 1345px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 300px 0px 90px;

      button{
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        color:$black;
        outline: none;        
        svg{
          use{
            fill:$green;
          }
        }
        &.owl-next{
          svg{
            margin-left: 10px;
          }
        }
        &.owl-prev{
          svg{
            transform: rotate(-180deg);
            margin-right: 10px;            
          }
        }        
      }
    }
    .navy{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 300px 0px 90px;      
      button{
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        color:$black;
        outline: none;        
        svg{
          use{
            fill:$green;
          }
        }
        &.owl-next{
          svg{
            margin-left: 10px;
          }
        }
        &.owl-prev{
          svg{
            transform: rotate(-180deg);
            margin-right: 10px;            
          }
        }        
      }      
    }
    .owl-dots{
      max-width: 1345px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0px 300px 0px 90px;
      .counter{
        width: 100%;
        order: 1;
        color: $green;
        text-align: center;
      }
      button{
        height: 7px;
        width: 2px;
        background: $light-grey;
        margin:0 2px;
        transform: skewX(-35deg);
        outline: none;
        order: 2;
        &.active{
          background: $green;
        }
      }
    }

  }  
}

@include respond(es-screen){
  .owl-carousel{
    &.project_slider{
      .project_item-wrapper{
        .project_item{
          max-width: 60px;
          text-align: center;
          margin: 0 5px;
          .icon{
            width: 54px;
            height: 54px;
          }
          span{
            font-size: 11px;
          }
        } 
      } 
    }
    &.project_sample_desktop_slider{
      margin-top: 0;
      .owl-item.active{
        transform: none;
      }
    }
  }
}
