p{
    font-size: 18px;
}
h1{
    font-size: 96px;
    font-weight: 700;
}
h2{
    font-size: 38px;
    font-weight: 700;
}
h6{
    font-size: 24px;
    font-weight: 700;
}

.title{
    h6{
        display: flex;
        align-items: center;
        span{
            font-size: 16px;
            font-weight: 600;
            margin-right: 15px;
        }
    }
}

@include respond(es-screen){
    .title{
        h6{
            font-size: 20px;
            span{
                font-size: 10px;
            }
        }
    }
    p{
        font-size: 14px;
    }    
}